header {

  // whole container
  .container-fluid > .row > .col {
    padding: 0px;

  }

  // fixed navbar
  .ms_nav {
    background-color: lighten($main_color, 70%);
    padding-top: $nav_padding_top;
    padding-bottom: $nav_padding_bottom;

    .container {
      display: block;

      .row {
        height: $input_search_height;
      }

      //col-left
      .navbar-brand {
          color: $main_color;

      }

      //col-center
      .search_col {
          flex-grow: 3;

          @include search_box;

      }

      //col-right
      #navbarSupportedContent {

          float: right;

          a {
            color: $main_color;
            font-size: 0.75em;
            font-weight: bold;
            text-transform: uppercase;
          }

      }

    }
  }
  // end fixed navbar



  // jumbo
  .ms_jumbo {

    @include search_box;

    height: 100vh;
    padding-top: calc(#{$nav_height} + #{$homepage-search-bar_line-height});
    padding-left: 100px;
    padding-right: 100px;

    padding-bottom: 100%;

    background-image: url('../img/jumbo-bg-img.gif');
    opacity: 0.85;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;

    // .ms_overlay {
    //   height: 100%;
    //
    //   &:hover {
    //     background-color: rgba(55, 55, 55, 0.55);
    //   }
    //
    // }


  }



}
//end header
